<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>
  		com.shop.servlet.LoginServlet
  	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>
  		com.shop.servlet.RegisterServlet
  	</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>goods</servlet-name>
  	<servlet-class>com.shop.servlet.ShowGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>
  		com.shop.servlet.DetailServlet
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>goods</servlet-name>
  	<url-pattern>/ShowGoodsServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>check</servlet-name>
  	<url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
</web-app>